.App {
  font-family: Arial, sans-serif;
  padding: 20px;
  height: 100vh;
}

nav {
  text-align: center;
}

.logoFont {
  font-family: 'Sacramento', cursive;
}

.logoBigger {
  font-size: 3.2vmin;
}






